<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Login Chat</title>
</head>
<body>

    <div class="container">      
         <h1>Realizar Login</h1> <!-- Adicionado título h1 para diferenciar a tela -->

        <form id="loginForm" action="/login" method="post">
            <label for="user">Nome: </label>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome de usuário" required>

            <label for="password">Senha: </label>
            <input type="password" id="password" name="senha" placeholder="Digite a sua senha" required>

            <input type="submit" value="Acessar">
        </form>
        
        <form action="/cadastro" method=""><button class="btn" id="btn-cadastro">Novo user</button></form>

        <form action="/loginAnonimo" method="post"><button class="btn" id="btn-anonimo">Acessar de modo Anônimo</button></form>
        
    </div>
    

    <script>
        const ws = new WebSocket('ws://localhost:3000');
    </script>
</body>
</html>
